---
layout: compress
---

<!DOCTYPE html>
<html lang="ru">
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>
		{% if page.path contains '_posts' %}
			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}
		{% else %}
			<div class="footer">
				<span>Также читайте
					<a href="https://antoniii.github.io/" title="ты сам сломал ссылку, так что ничего личного"><s>antoniii</s></a>
					<a href="https://citrux.github.io/">citrux</a>
					<a href="https://sputnikas.github.io/">sputnikas</a>
				</span>
			</div>
			<script>
				let msg = ' А спонсор статей в моём блоге -- моя лень -- спонсор статей.';
				['='.repeat(msg.length + 1), msg, '='.repeat(msg.length + 1)].forEach((v) => console.warn(v));
			</script>
		{% endif %}
	</body>
</html>
